.SlidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
}

.SlidebarOption:hover {
    opacity: 0.9;
    background-color: #340e36
}

.SlidebarOption > h2 {
    font-size: 14px;
    font-weight: 500;
}

.SlidebarOption__Icon {
    padding: 10px;
    font-size: 20px !important;
}